$gray:                 #666666;
$gray-dark:              darken($gray, 35%);
$gray-light:             lighten($gray, 40%);
$blue:                 #3498DB;
$green:                #4DAF7C;
$yellow:               #F4D03F;
$red:                  #D91E18;

$font-size-sm:           0.85rem;
$font-size-lg:           1.25rem;

$font-family-headings:   Arial, Helvetica, sans-serif;
