.btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  touch-action: manipulation;
}
