@import '../settings.scss';

.btn {
  cursor: default;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  touch-action: manipulation;

  &.btn-green {
    background-color: $green;
    border-color: $green;

    &:hover,
    &:focus {
      background-color: darken($green, 10%);
      border-color: darken($green, 10%);
    }
  }

  &.btn-control {
    display: flex !important;
    background: none;
    text-shadow: 0 0 5px #000000;
    font-size: $font-size-lg;
    padding: 0.5rem;
    border: none;
    outline: none !important;
    opacity: 0.8;
    margin: 0;

    @media screen and (min-width: 768px) {
      padding: 0.5rem 0.75rem
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &.btn-block {
    width: 100%;
    display: block;
  }

  &.btn-hud {
    display: flex !important;
    justify-content: center;
    height: 32px;
    width: 32px;
    border: none;
    padding: 5px;
    z-index: 2;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.75);

    svg {
      display: flex;
      opacity: 0.8;
    }

    &[disabled] {
      opacity: 0.2;
    }
  }
}
