@import '../settings.scss';

.btn {
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  touch-action: manipulation;

  &.btn-green {
    background-color: $green;
    border-color: $green;
  }
}
