@import '../settings.scss';

input,
textarea {
  margin: 10px 0;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  line-height: 1.25;
  color: $gray;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  touch-action: manipulation;
  font-family: sans-serif;
  box-sizing:border-box;

  &:focus {
    border-color: $blue;
    outline: none;
    box-shadow: 0 0 5px rgba($blue, 0.5);
  }
}

textarea {
  overflow: auto;
}
