@import '../settings.scss';

input,
select,
textarea {
  margin: 10px 0;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  line-height: 1.25;
  color: $gray-dark;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  touch-action: manipulation;
  font-family: sans-serif;
  box-sizing:border-box;

  &:focus {
    border-color: $blue;
    outline: none;
    box-shadow: 0 0 5px rgba($blue, 0.5);
  }
}

label {
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-size: $font-size-small;
  letter-spacing: 1px;
}

textarea {
  overflow: auto;
}

.form-group {
  &.show-errors {
    &.error {
      input,
      select,
      textarea {
        border: 1px solid rgba($red, 0.75);
      }
    }

    .errors {
      display: block;
      margin-top: 5px;
      color: $red;
      font-weight: bold;
    }
  }

  .errors {
    display: none;
  }
}