.lv-toolbar {
  display: flex;
  justify-content: space-around;
  position: absolute;
  background-color: $lv-hud-bg;
  margin: 0;
  z-index: 2;
  width: 100%;
  height: $lv-toolbar-xs-height;

  @media screen and (min-width: 576px) {
    height: auto;
  }

  @media screen and (min-width: 768px) {
    width: auto;
    margin: 1rem;
    border-radius: 25px;
    padding: 0 0.5rem;
  }

  .lv-btn {
    padding: 0;

    /* Scale icon size */
    .fa-icon {
      width: auto;
      height: 1.25rem;

      @media screen and (min-width: 576px) {
        padding: 0.75rem 1.25rem;
        height: 1.35rem;
      }
    }

    .active {
      color: $lv-blue;
    }

    svg {
      display: flex;
    }

    /* Hide tooltips on small screens */
    &:before,
    &:after {
      display: none;

      @media screen and (min-width: 576px) {
        display: initial;
      }
    }
  }
}

#lv-pan-controls {
  bottom: $lv-toolbar-xs-height;

  @media screen and (min-width: 576px) {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    margin: 1rem;
    bottom: 0;

    .lv-btn {
      display: flex;
      justify-content: center;
      position: absolute;
      padding: 0.5rem;

      svg {
        position: absolute;
      }
    }

    $lv-pan-positions: top bottom left right;
    @for $i from 1 through length($lv-pan-positions) {
      #pan-#{nth($lv-pan-positions, $i)} {
        #{nth($lv-pan-positions, $i)}: 0;

        svg {
          #{nth($lv-pan-positions, $i)}: 0;
        }

        @if index((top, bottom), nth($lv-pan-positions, $i)) {
          flex-direction: row;
          width: 100%;
        } @else {
          flex-direction: column;
          height: 100%;
        }
      }
    }
  }
}

#lv-zoom-controls {
  bottom: 0;

  @media screen and (min-width: 576px) {
    flex-direction: column;
    margin: 1rem;
    border-radius: 25px;
    width: auto;
    height: 6.5rem;
    right: 0;
  }

  @media screen and (min-width: 768px) {
    right: auto;
    left: 10rem;

    .lv-btn:not(:nth-child(2)) svg {
      padding: 0.5rem;
    }

    .lv-btn:nth-child(2) svg {
      padding: 0 0.5rem;
    }
  }
}