.lv-modal {
  position: absolute;
  height: 100%;
  width: 100%;

  .lv-modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity 350ms ease;
  }

  .lv-modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .lv-modal-container {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    color: $lv-white;
    background-color: $lv-gray-dark;
    margin-top: 2em;
    width: 90vw;
    margin: 0px auto;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    border: 1px solid $lv-gray-light;
    transition: all 350ms ease;

    @media screen and (min-width: 576px) {
      max-width: 500px;
      margin: 30px auto;
    }

    @media screen and (min-width: 992px) {
      max-width: 800px;
    }
  }

  .lv-modal-header {
    margin-top: 0;
    padding: 20px 30px;
    border-bottom: 1px solid $lv-gray-light;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    .close {
      padding: 0;
      cursor: pointer;
      background: 0 0;
      border: 0;
      -webkit-appearance: none;
      float: right;
      font-size: $lv-font-size-lg;
      font-weight: 200;
      line-height: 1;
    }
  }

  .lv-modal-body {
    position: relative;
    max-height: 70vh;
    padding: 20px 30px;
    overflow-y: auto;
    flex: 1 1 auto;

    ul {
      padding-left: 0;
      list-style: none;
    }

    li {
      margin-bottom: 0.5rem;
    }

    svg {
      margin-right: 8px;
    }
  }

  .lv-modal-footer {
    margin-top: 0;
    padding: 20px 30px;
    border-top: 1px solid $lv-gray-light;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

#lv-help-modal {
  ul {
    li {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }
    }
  }
}

#lv-browse-modal {
  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    width: 128px;
    margin: 0 10px 30px;
    border: 1px solid lighten($lv-gray-dark, 20%);
    position: relative;

    &:not(.task-complete):hover,
    &:not(.task-complete):focus {
      border-color: lighten($lv-gray-dark, 35%);
    }

    &.task-complete {
      img {
        opacity: 0.2;
      }
    }

    figure {
      margin: 5px;
    }

    img {
      max-width: 100%;
    }

    figcaption {
      text-align: center;
      font-size: $lv-font-size-sm;
      margin: 5px 5px 3px 5px;
    }

    .complete-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 24px;
        width: auto;
        color: $lv-green;
      }
    }
  }

  .pagination {
    display: block;
    text-align: center;
  }

  .pagination button {
    color: #fff;
    background: none;
    border: none;
    padding: 8px 16px;

    &.active {
      background-color: $lv-blue;
    }
  }
}

#lv-share-modal {
  #lv-share-controls {
    margin: 25px 0;

    input {
      font-size: $lv-font-size-sm;
      margin: 0 1rem 0 0;
      padding: 0.5rem;
      margin-bottom: 0.6rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
    }

    .lv-btn {
      width: 100%;
    }
  }
}

#lv-info-modal {
  #lv-attribution-details {
    text-align: center;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}