
#lv-navbar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: $lv-gray-dark;
  border-bottom: 1px solid #000;

  .lv-navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .lv-navbar-navs {
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    font-size: $lv-font-size-sm;
    height: 100%;
    width: 100%;
    background-color: rgba(#F7F7F7, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 350ms;
    overflow-y: auto;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    font-weight: 600;

    @media screen and (min-width: 768px) {
      display: flex;
      position: relative;
      flex-direction: row;
      transform: none;
      background: transparent;
      font-weight: 400;
      justify-content: flex-start;
      overflow: hidden;
    }

    &.show {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    .lv-navbar-close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      color: lighten($lv-gray-dark, 20%);

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    a {
      position: relative;
      text-decoration: none;
      color: $lv-gray-dark;
      transition: color 200ms ease;
      padding: 0.5rem;

      &[data-brand] {
        display: none;
        margin-right: 1rem;
        font-weight: 600;
        letter-spacing: 0.8px;
        font-size: 1rem;

        @media screen and (min-width: 768px) {
          display: block;
        }

        &:hover,
        &:focus {
          color: $lv-white;
        }
      }

      &:hover,
      &:focus {
        color: $lv-red;
      }

      @media screen and (min-width: 768px) {
        font-size: $lv-font-size-sm;
        float: left;
        display: block;
        color: $lv-white;
        text-align: center;
        padding: 1.2rem 1rem;
        text-decoration: none;
      }
    }
  }

  .lv-navbar-hamburger {
    display: block;
    margin-left: auto;
    background: none;
    border: none;
    color: $lv-white;
    display: flex;
    padding: 1.2rem 1rem;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
